<div class="contents row">
  <div class="container">
    <h2>ログイン</h2>
    
    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>
    
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true, data: { turbo: false } do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
    
    <div class="auth-links">
      <div class="divider">
        <span>または</span>
      </div>
      <%= link_to "新規登録", new_user_registration_path, class: "btn-signup" %>
    </div>
  </div>
</div>
